---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";

const projects = await getCollection("projects");

const allTags = [
  ...new Set([
    ...projects.flatMap((p) => p.data.tags || []),
  ]),
].sort();
---

<BaseLayout title="All Tags">
  <a href="/" class="hover:underline mb-8 block transition-colors"
    >&larr; Back to Projects</a
  >
  <section class="mb-12">
    <h1 class="text-4xl font-bold mb-2">Tags</h1>
    <p class="text-sm tracking-widest font-semibold">Browse content by category</p>
  </section>
  
  <div class="flex flex-wrap gap-4">
    {allTags.map((tag) => (
      <a 
        href={`/tags/${tag}`}
        class="group flex items-center px-4 py-2 transition-all"
      >
        <span class=" tag-link">
          #{tag}
        </span>
      </a>
    ))}
  </div>
  
</BaseLayout>